*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    padding: 60px;
    width: 1250px;
    height: 600px;
    border: 1px solid teal;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    /* margin-right: 320px; */
}
.nav-items{
    display: flex;
    gap: 20px;
    margin-right: 170px;
    
}
.nav-link{
    list-style: none;
}
.nav-links{
    text-decoration: none;
    font-family: Poppins;
   font-size: 1rem;
   font-weight: 600;
   color: rgb(58, 58, 58);
}
.brand{
    font-family: Poppins;
    font-size: 2.25rem;
    font-weight: 700;
    /* margin-left: 150px; */
}
.banner-container{
   margin-top: 100px;
   /* margin-left: 150px; */

}
.banner-title{
    font-family: Poppins;
    font-size: 3rem;
    font-weight: 700;
    width: 580px;
}
.banner-description{
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 600;
}
.brand, .banner-container{
    margin-left: 40px;
}
.btn{
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 41px;
    background: rgb(224, 44, 109);
    width: 196px;
    height: 44px;
    margin-top: 16px;
    border: none;
}


.img-container{
      background-image: url('../images/Circle\ design.svg');
     background-size: contain;
     height: 440px;
     width: 414px;
     /* margin-right: 500px; */
     background-repeat: no-repeat;
     display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    
    
} 
.camera{
  
   /* margin-right: 30px; */
  
}

.banner{
    display: flex;
     gap: 40px; 
}
.box-container{
        margin-top: 69px; 
      margin-left: 160px; 
      width: 1000px;
      height: 110px;
      /* border: 1px solid greenyellow; */
       display: flex; 
      justify-content: center;
      align-items: center; 
}
.box-item{

    /* border: 1px solid tomato; */
    width: 800px;
    height: 39px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
 .box1{
    margin-top: 8px;
    margin-bottom: 7px;
} 